
    <form role="form" action="/collection/create" method="post" enctype="multipart/form-data">

        <div class="col-6 col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="container well">
            <h4>New Collection</h4>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="model">Model</label>
                <input type="name" class="form-control" id="model" name="model">
            </div>
            <div class="form-group">
              <label for="path">Path</label>
              <input type="name" class="form-control" id="path" name="path">
            </div>

            <button type="submit" class="btn btn-success btn-lg">Submit</button>
          </div>
        </div>


        <div class="clearfix"></div>

        <div class="container col-12">

        </div>
    </form>

    <hr>



