<div class="well sidebar-nav" style="background-color: #00b08c; color: #fff;">

  <h2><span style="font-size: 1.5em"><%=cards.length%></span> <%=collection.path.toLowerCase()%></h2>
  <input type="hidden" name="collection" value="<%=collection.model.toLowerCase()%>" />
</div>