<div class="col-10 col-lg-10 col-md-11 col-sm-12">

  <h2>Opensource Technology</h2>
  <p>
    Node.js, Sails.js, MongoDB
  </p>

  <h2>Responsive Layout</h2>
  <p>
  "One size fits all."  By using a grid structure that automatically adapts to different
    device widths, we ensure that the system will work on tablets and phones as well as
    laptops and desktop terminals.
  </p>
  <p>
    A native application and local database for iOS and Android are on the roadmap however, to improve responsiveness,
    particularly for field work without a reliable network connection.
  </p>

  <h2>API Layer</h2>
  <p>
    There are many biological databases, and a need for interoperability between them.
    Having an API layer integrated with the application ensures that lists and data can be exchanged with ease.
  </p>

  <h2>Real-time Collaboration</h2>
  <p>
    Websockets for discussion and remote learning.
  </p>

</div>
