<div class="col-10 col-lg-10 col-md-11 col-sm-12">

  <h2>Feedback</h2>
  <p class="lead">
    A public feedback forum will be online soon, but for now please <a href="mailto:PinkkaV2@ThomasMoon.NET">email feedback</a>. Thanks!</p>
</div>
