<div class="col-10 col-lg-10 col-md-11 col-sm-12">

  <p class="lead">
  Welcome to my concept for a new <a href="http://www.helsinki.fi/pinkka/" target="_new">Pinkka</a>
  – the University of Helsinki's species database and learning tool.
  </p>

  <p>
  While studying forest ecology, there have been endless lists to memorize.
  Plants, trees, mammals, birds, insects, mushrooms, even molds.  And so many languages!
  Finnish, Latin, English of course, as I have to know these things in own native language,
  and sometimes even Swedish pops up.
  </p>

  <p>
  So I began coding database collections of these various items, and gathering
  photos, links and information.  I love illustrations from 19th century biology books
  like <a href="http://en.wikipedia.org/wiki/K%C3%B6hler's_Medicinal_Plants">Köhler's Medicinal Plants</a>.
  Copyright free in the public domain, they are fun to work with.  There
  are tons of resources across the internet, highly specialized and full of information,
  but what I really needed, was a tool to consolidate these things
  in one place for easy review.
  </p>

  <p>
  If you're interested in this tool for your own purposes, please see <a href="/Development">Development</a>.
  </p>

  <p>
  And of course
  <a href="/Feedback">Feedback</a> is always appreciated. Thanks!
  </p>

</div>
